@font-face {
  font-family: Unytour;
  src: url('..\..\assets\unytour-semiboldcondensed.otf');
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-control {
    border-color: #ff6666;
    border-width: 2px;
    text-align: center;
    background-color: transparent;
    width: 25vw;
    height: 3vw;
    margin: 0.7vw;
    display:inline;
    color: white;
    border-radius: 10px;
  }

  a {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #a0b2ff;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: crosshair;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
  }
  
    a:hover {
      box-shadow: 4px 4px 0 #000;
      transform: translate(-4px,-4px);
    }
  
    a:focus-visible {
      outline-offset: 1px;
    }