.idea

desktop.ini
/angular-project/.vs/angular-project/FileContentIndex
/angular-project/.vs/angular-project/FileContentIndex
/angular-project/.vs/angular-project/v17/.wsuo
/.vs/VSWorkspaceState.json
/angular-project/.vs/VSWorkspaceState.json
/angular-project/.vs/slnx.sqlite
