<div class="grid-container">

  <div class="grid-child mainpage">
    <div class="txt1 wht">
      Welcome back,
    </div>

    <div class="txt2 wht">
      today is
    </div>

    <div class="txt2 wht">
      <button class="button-30" role="button"> {{ time | date:'dd/MMM/yyyy' }}</button>
    </div>

    <div class="txtbtn wht" [routerLink]="['/tasklist']">
      continue here.
    </div>
  </div>

  <div class="grid-child tasktable">

    <div class="tablename">‎‎      upcoming tasks     ‎‎ </div>

    <div class="divTable darkTable">

      <div class="divTableBody">
        <div class="tabnames">
          <div class="tabcell divTableCell">Tasks</div>
          <div class="tabcell divTableCell">Description</div>
          <div class="tabcell divTableCell">Deadline</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell">[frontend missing]</div>
          <div class="divTableCell">[description missing]</div>
          <div class="divTableCell">[deadline missing]</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell">[frontend missing]</div>
          <div class="divTableCell">[description missing]</div>
          <div class="divTableCell">[deadline missing]</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell">[frontend missing]</div>
          <div class="divTableCell">[description missing]</div>
          <div class="divTableCell">[deadline missing]</div>
        </div>
      </div>
    </div>

  </div>



