mat-toolbar {
  backdrop-filter: blur(7px);
  height: 3.7vw;
    background-color:#2121212a;
  a {
  margin-left: auto;
    }
}

.xname {
  color: #ff6666;
  font-family: Unytour;
  font-size: 2.7vw;
  transform: rotate(3deg);
  overflow: visible;
  margin-top: 2vw;
}


a {
  outline: 0;
  font-family: Unytour;
  grid-gap: 1vw;
  align-items: center;
  background-color: #ff6666;
  color: #000;
  border: 0.15vw solid #000;
  border-radius: 0.3vw;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 1.1vw;
  gap: 1vw;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 0.8vw 1vw;
  margin: 0vw 0.5vw 0vw 0.2vw;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}
  a:hover
{
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}

a:focus-visible {
  outline-offset: 1px;
}
                


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
}

.spacer {
  flex: 1 1 auto;
}




/* CSS */
.button-30 {
    margin-right: 30px;
  align-items: center;
  appearance: none;
  letter-spacing: 2px;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: Unytour;
  height: 3vw;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 2.3vw;
  width: 20vw;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
