<mat-toolbar style="font-family: 'Flux';">

  <ul>
    <li role="button" [routerLink]="['/']" class="xname"> <p class="brasko" [routerLink]="['/dashboard']">HorizonTasks</p></li>
  </ul>
  <span></span>
  <span></span>
  <ul style="padding-left: 60vw;">
    @if (authService.authenticated()) {
    <li> <a nav-button-right style="float: right; background-color: #cbfff8;" [routerLink]="['/tasklist']">Tasks</a> </li>
    
    <li> <a nav-button-right style="float: right; background-color: #ddffd1;" [routerLink]="['/sharedtask']">Shared Tasks</a> </li>

    <li style="float:right"> <a nav-button-right (click)="logout()">Logout</a> </li>
    } @else {
    <li style="float:right"> <a style="background-color: #a0b2ff; " [routerLink]="['/login']">Login</a> </li>
    <li style="float:right"><a style="background-color: #eef1f3 "  [routerLink]="['/register']">Registration</a></li>
    }
  </ul>
 



</mat-toolbar>
