  <div >
    <form class="container" [formGroup]="taskForm" (ngSumbit)="onAddTask()">
  
      <label label-text for="">Task      </label><br />
      <input type="text" class="form-control" formControlName="name">
      <br /> <br />
  
      <label label-text for="">Description      </label><br />
      <input type="text" class="form-control" formControlName="description">
      <br /> <br />
  
      <label label-text for="">Priority</label> <br>
      <input type="number" class="form-control" formControlName="priority" min="0" max="5">
      <br /> <br />
  
      <label label-text for="">Deadline</label> <br>
      <input type="date" class="form-control" formControlName="deadline">
      <br /> <br />
  
  
      <a class="btn-primary" (click)="onAddTask()">Add Task</a>
      <br /> <br /> <br />
    </form>
  </div>

  <div class="swcontainer">
    <a type="button" id="tglbttn" style="background-color: #F9DC5C; font-family: Unytour; color: #000;" (click)="tglbtn()">Show finished tasks</a>
  </div>

  <div *ngIf="xd==true; else elseBlock">
    <div>
      <table class="tablemain">
        <thead class="tbHead">
          <tr>
            <th class="tbHeadItem">Task</th>
            <th class="tbHeadItem">Priority</th>
            <th class="tbHeadItem">IsDone</th>
            <th class="tbHeadItem">Deadline</th>
          </tr>
        </thead>
        <tbody class="tbBody" *ngFor="let tasks of TaskData">
          <tr *ngIf="tasks.isDone">
            <td class="tbBodyItem">{{tasks.name}}</td>
            <td class="tbBodyItem">
              <button type="button" [routerLink]="['/taskdetail', tasks.id]">CLICK HETREE</button>
            </td>
            <td class="tbBodyItem">{{tasks.priority}}</td>
            <td class="tbBodyItem">{{tasks.isDone}}</td>
            <td class="tbBodyItem">{{tasks.deadline | date}}</td>
            <td type="button" (click)="onDelete()" class="tbBodyItem">DELETE</td>
          </tr>
        </tbody>
        </table>
      </div>
  </div> 
  <ng-template #elseBlock>
        <table class="tablemain">
          <thead class="tbHead">
            <tr>
              <th class="tbHeadItem">Task</th>
              <th class="tbHeadItem">Priority</th>
              <th class="tbHeadItem">IsDone</th>
              <th class="tbHeadItem">Deadline</th>
            </tr>
          </thead>
          <tbody class="tbBody" *ngFor="let tasks of TaskData">
            <tr *ngIf="!tasks.isDone">
              <td class="tbBodyItem" type="button" [routerLink]="['/taskdetail', tasks.id]">{{tasks.name}}</td>
              <td class="tbBodyItem">{{tasks.priority}}</td>
              <td class="tbBodyItem">{{tasks.isDone}}</td>
              <td class="tbBodyItem">{{tasks.deadline | date}}</td>
            </tr>
          </tbody>
          </table>
        
  </ng-template>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
