<br />
<br />
<br />

<div class="lajnapy">
  <input class="lajnapy serchik" [(ngModel)]="searchTerm" type="text" placeholder="Search task" #filter />
</div>

<br />
<br />


<div>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Priority</th>
        <th>Deadline</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let taski of taskData() | searchFilter: searchTerm; let i = index;">
        <td type="button" [routerLink]="['/taskdetail', taski.id]">{{taski.name}} </td>
        <td>{{taski.priority}}</td>
        <td>{{taski.deadline}}</td>
        <td><button type="button" (click)="onDelete(taski.id)"> X </button></td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="swcontainer">
  <a type="button" id="tglbttn" style="background-color: #F9DC5C; font-family: Unytour; color: #000;" (click)="tglbtn()">Show finished tasks</a>
</div>


<div>
  <form class="container" [formGroup]="taskForm" (ngSumbit)="onAddTask()">

    <label label-text for="">Task      </label><br />
    <input type="text" class="form-control" formControlName="name">
    <br /> <br />

    <label label-text for="">Description      </label><br />
    <input type="text" class="form-control" formControlName="description">
    <br /> <br />

    <label label-text for="">Priority</label> <br>
    <input type="number" class="form-control" formControlName="priority" min="0" max="5">
    <br /> <br />

    <label label-text for="">Deadline</label> <br>
    <input type="date" class="form-control" formControlName="deadline">
    <br /> <br />


    <a class="btn-primary" (click)="onAddTask()">Add Task</a>
    <br /> <br /> <br />
  </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
