@font-face {
  font-family: Unytour;
  src: url('..\..\assets\unytour-semiboldcondensed.otf');
}

.serchik {
  width: 30vw;
  background-color: #f1f1f1;
  border-radius: 24px;
  color: black;
  border-color: black;
  border-width: 0.2vw;
}

.lajnapy {
    text-align: center;
    height: 54px;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.swcontainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  border-color: black;
  border-width: 2px;
  text-align: center;
  background-color: transparent;
  width: 25vw;
  height: 3vw;
  margin: 0.7vw;
  display:inline;
  color: black;
  border-radius: 10px;
}

body {
 background-image: url("src\assets\png.png");
  color: lightpink;
}


form {
  width: 40vw;
  padding-top: 2vw;
  margin-top: 3vw;
  text-align: center;
  font-family: Unytour;
  margin-bottom: 2vw;
  border-radius: 20px;
  border-color: black;
  border-width: 1vw;
  border: solid;
  backdrop-filter: blur(4px);
  background-color: transparent;
  font-size: 2vw;
  color: black;
}

a {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #f1f1f1;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: crosshair;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}

  a:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
  }

  a:focus-visible {
    outline-offset: 1px;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
  outline-color: #ff7979;
  outline-width: 3px;
}

.tabb {
  background-color: rgba(0, 0, 0, 0); /* adjust the opacity to your liking */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

  .tabb table {
    background-color: transparent;
  }

  .tabb th, .tabb td {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

.tbBodyItem {
  font-family: Unytour;
  padding: 0.6vw;
  padding-left: 1.5vw;
  font-size: 2vw;
}

.tbHeadItem {
  font-family: Unytour;
  padding: 1vw 2vw 1vw 2vw;
  font-size: 2vw;
}

.tbHead {
  font-family: Unytour;
  height: 10vw;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 2vw;
  
}

.tbBody {
  color: black;
  font-size: 1.3vw;
}

.tablemain {
  font-family: Unytour;
  margin-left: 3vw;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background-color: #f1f1f1;
  border-bottom-width: 20px;
  border-bottom-style: solid;
  margin-top: 4vw;
}



th.mat-sort-header-sorted {
  color: black;
}


.tabb {
    margin: 1vw;
}

.taskHead {
  width: 47vw;
}

.taskPriority {
  width: 10vw;
}

.taskDeadline {
  width: 39vw;
}
.taskDelete {
  width: 0vw;
}

.tableTaskName{
    padding-left:1vw;
}

.tableTaskPriority {
    text-align: center;
}


.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}

.bin-bottom {
  width: 15px;
}

.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}


.tabb {
  display: table;
  width: 98%;
}

.thead {
  display: table-header-group;
}

.tbHeadItem {
  display: inline-block;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.tbBody {
  display: table-row-group;
}

.tbBodyItemm {
  display: table-row;
}

.tableTaskName, .tableTaskPriority, .tableTaskDeadline, .tableTaskDelete {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

  .tableTaskName{
      width: 50vw;
  }

.tableTaskPriority {
  width: 10vw;
}

.tableTaskDeadline {
    width: 30vw;
}

.tableTaskDelete {
    width: 10vw;
}

.jetogg {
  width: 98%;
}

.tbBodyItemm {
  display: inline-table;
  width: 98vw;
}


.tableTaskName, .tableTaskPriority, .tableTaskDeadline, .tableTaskDelete {
  flex: 1;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
