@font-face {
  font-family: Unytour;
  src: url('..\..\assets\unytour-semiboldcondensed.otf');
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.swcontainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  border-color: #ff6666;
  border-width: 2px;
  text-align: center;
  background-color: transparent;
  width: 25vw;
  height: 3vw;
  margin: 0.7vw;
  display:inline;
  color: white;
  border-radius: 10px;
}

body {
 background-image: url("src\assets\png.png");
  color: lightpink;
}


form {
  width: 40vw;
  padding-top: 2vw;
  margin-top: 3vw;
  text-align: center;
  font-family: Unytour;
  margin-bottom: 2vw;
  border-radius: 20px;
  backdrop-filter: blur(4px);
  background-color:#21212140;
  font-size: 2vw;
  color: #ff6666;
}

a {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #a0b2ff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: crosshair;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}

  a:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
  }

  a:focus-visible {
    outline-offset: 1px;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
  outline-color: #ff7979;
  outline-width: 3px;
}

.tbBodyItem {
  font-family: Unytour;
  padding: 0.6vw;
  padding-left: 1.5vw;
  font-size: 1.5vw;
}

.tbHeadItem {
  font-family: Unytour;
  padding: 0.6vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 1.5vw;
}

.tbHead {
  font-family: Unytour;
  height: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 2em;
  
}

.tbBody {
  font-family: Unytour;
  height: 75%;
  color: rgb(255, 222, 227);
}

.tablemain {
  font-family: Unytour;
  margin-left: 3vw;
 width: 94%;
 border-radius: 20px;
 backdrop-filter: blur(5px);
 background-color:#212121a8;
 border-bottom-width: 20px;
 border-bottom-style: solid;
 margin-top: 4vw;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
